<div class="container">
    <br />
    <!-- Importante indicar el path donde se encuentra el metodo POST -->
    <form action="/users/{{id}}/documents" method="POST">
        <div class="form-group">
            <label for="documentNumber">document number:</label>
            <input type="text" class="form-control" id="documentNumber" name="documentNumber" value={{id}}>
        </div>
        <div class="form-group">
            <label for="documentType">Type:</label>
            <input type="text" class="form-control" id="documentType" name="documentType">
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
